html, body {
    height: 100%;
    margin: 0;
    min-width: 555px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a:visited, a:hover, a:link {
    color: inherit;
    text-decoration: none;
}

/* grid layout */
body {
    display: grid;
    grid-template-areas:
    "h"
    "m"
    "."
    "f";
    flex-direction: row;
    background-image: url("images/wave_bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

/* header logo and title, aligned vertically */
header {
    grid-area: h;
    top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#logo {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

header > h1 {
    display: inline;
    vertical-align: middle;
    font-family: 'DM Serif Display', serif;
    color: #6356e5;
    font-size: 2em;
    font-weight: 100;
}

/* Handling overflow in main */
main {
    grid-area: m;
    overflow-y: auto;
}

#subtitle {
    font-size: 2.5rem;
}

#description {
    font-size: 1.2rem;
}

footer {
    grid-area: f;
    font-size: smaller;
    margin-top: 0.5em;
    color: white;
}


/* Scales the image while keeping the original ratio */
img {
    max-width: 100%;
    height: auto;
}

#description, #action {
    color: #767676;
}

#action {
    font-size: smaller;
}

/* Design of the login and signup buttons */
.signup-login-button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    width: 8rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Lato', sans-serif;
}

.signup-login-button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.signup-login-button {
    display: inline-block;
    margin-right: 5px;
}

/* Resizes buttons depending on the screen resolution */
@media (min-width: 768px) {
    .login-button, .signup-button {
        padding: 0 2.6rem;
    }
}

/* Creates a pop-up window with frosted glass effect */
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%) scale(0);
    width: 330px;
    height: 490px;
    z-index: 2;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow:  0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

/* Various effects for the X button within the pop-up window */
.popup .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
}

.close-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.close-btn:before, .close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #333;
}

.close-btn:before {
    transform: rotate(45deg);
}
.close-btn:after {
    transform: rotate(-45deg);
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

/* Style for text within the pop-up window */
#login-header, #signup-header {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2c2c2c;
    padding: 20px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgba(100, 100, 100, 0.37);
}

.input-field .validate {
    padding: 16px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
    color: #a4a3a3;
    background: white;
    box-shadow:  0 1px 12px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: 80%;
}

#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}

/* Style for the button within the pop-up window */
.inner-login-button, .inner-signup-button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    background: #673FD7;
    color: white;
    box-shadow:  0 1px 12px rgba(0, 0, 0, 0.25);
    transition: box-shadow .35s ease !important;
    outline: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.inner-login-button:active, .inner-signup-button:active {
    background: linear-gradient(145deg, #673FD7, #4f2ab0);
    box-shadow: 5px 5px 10px #c2b5e7, -5px -5px 10px #C2B5E7FF;
    border: none;
    outline: none;
}
