@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.hero, .hero-content {
    top: 10px;
    position: fixed;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.avatar {
    padding: 30px;
    transition: .6s ease-in-out transform;
}

.avatar:hover {
    transform: rotate(-360deg) scale(1.1);
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-right: 3em;
    padding-left: 3em;
}