@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Lato', sans-serif;
}

#logo {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

header > h1 {
    display: inline;
    vertical-align: middle;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-right: 3em;
    padding-left: 3em;
}

